body
{
    background-color: dimgrey;
    color: darkgrey;
}
.topMenu-style
{
    color: darkgrey;
}

a:hover, a:active, a:visited, a:link
{
    cursor:pointer;
    text-decoration: none;
    color: darkgrey;
}
.nav-container
{
    margin-left:auto;
    margin-right:auto;
    max-width: 940px;
    background-color: transparent;
    text-align: center;
}

.nav-link
{
    font-family:sans-serif;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 26px 13px;
}

.section
{
    padding-right: 2.5%;
    padding-left:2.5%;
    padding-bottom:50px;
    display: block;
}

.me-contact, .me-content
{
    margin-left:-10px;
    margin-right:-10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid;
    text-align: center;
}

.me-details
{
    color:aliceblue;
    font-size: 15px;
    box-sizing: border-box;
}